/* .homebg{
    height:100px;
    width:200px;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3Dyoga%2Bbackground&psig=AOvVaw0DkadcaNZtiKAHpt4CiWqS&ust=1706079929820000&source=images&cd=vfe&ved=0CBMQjRxqFwoTCPCt45L58oMDFQAAAAAdAAAAABAE");
} */
.homebg{
    background-image: url("c:\Users\navee\OneDrive\Pictures\Screenshots\Screenshot 2024-01-23 150828.png");
}